@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .react-datepicker {
        @apply !border-gray-300;
    }
    .react-datepicker__header {
        @apply !bg-main/10 !border-gray-300;
    }
    .react-datepicker__time-container {
        @apply !border-gray-300;
    }
    .richtext-outline {
        @apply !outline-gray-300
    }
}

.tiptap.ProseMirror {
    padding: 15px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #FF9500  !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    background-color:rgb(255 149 0 / 0.1) !important ;

}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #FF9500  !important;
}